@charset "UTF-8";
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
:root {
  --white: #ffffff;
  --blue-main: #0057d2;
  --blue-dark: #1d2f60;
  --black: black;
  --gray-main: #eeefef;
  --gray-text: #63666f;
  --gray-light: ##e5e5e5; }

/* animation */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main; }

@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header; }

@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text; }

@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  direction: rtl;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
  background-size: cover;
  justify-content: center; }

.background-img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to left, rgba(113, 157, 219, 0.5), rgba(113, 157, 219, 0.5)), url(../img/home__pictures-1.jpg);
  filter: blur(5px); }

/* uniti css */
.font-sml {
  font-size: smaller; }

.font-nl {
  font: medium; }

.font-lg {
  font-size: xx-large; }

.font-llg {
  font-size: 7rem; }

.font-family-lato {
  font-family: "Lato", sans-serif; }

.font-size-rem {
  font-size: 1.5rem !important; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.background-telegram {
  background: #00dcdc; }

.img-size-position {
  background-size: cover;
  background-position: top; }

.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 5rem !important; }

.u-margin-bot-med {
  margin-bottom: 2rem !important; }

.u-margin-bot-small {
  margin-bottom: 16px !important; }

.text-uppercase {
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-med {
  margin-top: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-med {
      margin-top: 2rem !important; } }

.u-margin-top-2rem {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 3rem !important; } }

.u-margin-top-hige {
  margin-top: 7rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-hige {
      margin-top: 5rem !important; } }

.u-font-size-2rem {
  font-size: 2rem; }

.u-padding-2rem {
  padding: 2rem; }

.u-dispaly-inline-block {
  display: inline-block; }

.position-re {
  position: relative !important; }

.position-ab {
  position: absolute !important; }

.header-text-white {
  color: #ffffff !important; }

.font-main {
  font-family: font-main; }

.font-header {
  font-family: font-header; }

.font-text {
  font-family: font-text; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 47, 96, 0.8);
  border-radius: 2rem;
  width: 30vw;
  height: 70vh;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.2); }
  .main__text-1 {
    font-family: font-nastaliq;
    font-size: 2.4rem; }
  .main__logo {
    display: grid;
    place-items: center; }
    .main__logo img {
      width: 5rem;
      color: #ffffff; }
  .main__h1 {
    font-family: font-nastaliq;
    font-size: 4rem;
    margin-top: -2rem;
    padding-bottom: 1rem; }
  .main__flag {
    width: 4rem; }
  .main__h2 {
    font-size: 2rem;
    padding-top: 1rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form-login__email-box input {
    margin-bottom: -2rem; }
  .form-login .email__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    fill: white;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(0, 87, 210, 0.9), rgba(29, 47, 96, 0.9));
    transform: translatey(4.2rem); }
  .form-login input {
    width: 28rem;
    padding: 1.3rem;
    padding-left: 0.5rem;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
    direction: ltr;
    text-align: left;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .form-login input:focus {
      outline: none;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid green; }
      .form-login input:focus:invalid {
        border-bottom: 3px solid red; }
    .form-login input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7); }
  .form-text {
    display: flex;
    margin-top: 0.5rem; }
    .form-text__link, .form-text__link:visited, .form-text__link:link {
      text-decoration: none;
      color: aqua;
      font-family: font-text;
      font-size: 1.5rem; }
    .form-text__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      display: flex;
      width: max-content; }
      .form-text__checkbox .form-text__check1 {
        cursor: pointer;
        width: 2rem;
        border: 0; }
      .form-text__checkbox .form-text__label {
        cursor: pointer;
        font-size: 1.5rem;
        font-family: font-text;
        width: max-content;
        color: rgba(255, 255, 255, 0.5); }
  .form .btn {
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-family: font-main;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 3.5rem;
    font-size: 2rem;
    color: #ffffff;
    background: linear-gradient(to right, #0057d2, #1d2f60);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    transition: all 0.2s; }
    .form .btn:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: scale(1.04);
      background: #00429f; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-image: linear-gradient(to left, rgba(0, 87, 210, 0.6), rgba(0, 87, 210, 0.6));
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem 0;
  font-family: font-text; }
