*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(../../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main;
}
@font-face {
  src: url(../../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header;
}
@font-face {
  src: url(../../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text;
}
@font-face {
  src: url(../../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-position: center center;
  background-size: cover;
  justify-content: center;
}

.background-img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
      to left,
      rgba(#719ddb, 0.5),
      rgba(#719ddb, 0.5)
    ),
    url(../../img/home__pictures-1.jpg);
  filter: blur(5px);
}

::selection {
}
